body {
   background-color: brown;
   color: #f3f3f3;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   margin: 0;
   padding: 0;
}

.container {
   max-width: 950px;
   margin: 0 auto;
   padding: 20px;
}

h1,
h2 {
   font-weight: 500;
   margin-bottom: 10px;
}

.book-form {
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 30px;
}

.book-form label {
   display: flex;
   flex-direction: column;
   font-size: 14px;
}

.book-form input,
.book-form textarea,
.book-form select {
   margin-top: 4px;
   padding: 8px;
   border-radius: 4px;
   border: none;
}

.book-form button {
   padding: 10px;
   border-radius: 4px;
   border: none;
   font-size: 16px;
   cursor: pointer;
}

.books {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.book-card {
   background-color: #121a33;
   padding: 12px;
   border-radius: 8px;
   display: flex;
   gap: 15px;
   justify-content: space-between;
}

.book-info {
   max-width: 70%;
}

.book-title {
   font-size: 18px;
   margin-bottom: 6px;
}

.notes {
   margin-top: 6px;
}

.date {
   font-size: 12px;
   opacity: 0.8;
}

.book-cover img {
   max-height: 130px;
   border-radius: 4px;
}

.status-form {
   margin-top: 10px;
   display: flex;
   gap: 6px;
}

.status-form select,
.status-form button {
   font-size: 12px;
   padding: 5px 8px;
}

