body {
   background-color: #080f1f;
   color: #f3f3f3;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   margin: 0;
   padding: 20px;
}

h1,
h2 {
   font-weight: 500;
   margin: 0 0 10px 0;
}

form {
   margin-bottom: 20px;
}

input,
select,
textarea {
   margin-top: 4px;
   padding: 8px;
   border: none;
   border-radius: 4px;
   font-size: 16px;
}

button {
   padding: 8px 12px;
   border: none;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
}

div {
   margin-bottom: 15px;
}

img {
   max-height: 130px;
   border-radius: 4px;
   display: block;
   margin-top: 8px;
}
